.trashIcon {
    border: 0;
    background-color: transparent;
    color: red;
    font-size: 1.2rem;
    transform: scale(1);

    &:hover {
        transform: scale(1.3);
        transition: transform .4s ease-out;
    }
}

.editIcon {
    border: 0;
    background-color: transparent;
    color: blue;
    font-size: 1.2rem;
    transform: scale(1);

    &:hover {
        transform: scale(1.3);
        transition: transform .4s ease-out;
    }
}

#posts-list {

    figure {
        height: 150px;

        img {
            height: 100%;
            width: auto;
        }
    }
}